* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  width: 100%;
}
html {
  scroll-behavior: smooth;
}
.h1x {
  font-weight: 600;
  cursor: pointer;
  text-align: center;
}

h2 {
  font-size: 1.6em;
  align-self: flex-start;
  padding-left: 50px;
}
.hero {
  min-height: 100vh;
  background-size: auto 100vh;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  background-image: url("img/pexels-krivec-ales-552785.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.hero p {
  font-size: 25px;
  margin-top: 40px;
}

.nav-menu {
  background-color: #303030;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 2;
}
.nav-menu a {
  color: #fff;
  text-decoration: none;
  padding: 20px;
  font-size: 20px;
}
.nav-menu a:hover {
  color: lightblue;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.barra {
  color: #fff;
}
.hero h1 {
  font-size: 100px;
}
.hero2 {
  min-height: 100vh;
  width: 100%;
  flex-wrap: wrap;
  background-color: white;
  color: black;
  text-align: center;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}
.hero2 h1 {
  padding-top: 70px;
  padding-bottom: 10px;
  font-size: 50px;
}
.hero2 h2 {
  margin-top: 1rem;
}
#p1 {
  text-align: justify;
  padding: 16px;
  padding-left: 80px;
  font-size: 20px;
}
.hero3 {
  min-height: 100vh;
  width: 100%;
  background-color: #f3f4f6;
  color: black;
  text-align: center;
  align-items: center;
  align-content: center;
  display: block;
  flex-direction: column;
}
.hero3 h1 {
  padding-top: 70px;
  padding-bottom: 10px;
  font-size: 50px;
}
.hero3 h2 {
  align-self: center;
  margin-top: 20px;
  margin-right: 40px;
}

.hero3 p {
  text-align: justify;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  font-size: 20px;
}
.sectg {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f3f4f6;
  margin-top: 32px;
  align-items: center;
}
.sect1 {
  margin: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.sect1 p {
  padding: 20px;
}
.sect1 img {
  width: 64px;
  height: 64px;
  align-self: center;
  margin-top: 40px;
}
#lqp {
  text-align: left;
  margin-top: 20px;
}
.tyh {
  display: flex;
  margin-top: 32px;
  align-items: center;
  justify-content: space-between;
}
.herramientas {
  padding-left: 16px;
  padding-right: 16px;
  align-items: center;
  display: flex;
}
.herramientas p {
  margin: 16px;
  font-size: 20px;
}
.imgtyh {
  width: 48px;
}
.hero4 {
  min-height: 100vh;
  width: 100%;
  flex-wrap: wrap;
  background-color: white;
  color: black;
  text-align: center;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}
.hero4 h1 {
  padding-top: 70px;
  padding-bottom: 10px;
  font-size: 50px;
}

.hero4 p {
  text-align: justify;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  font-size: 20px;
}
.hero5 {
  min-height: 100vh;
  width: 100%;
  flex-wrap: wrap;
  background-color: #f3f4f6;
  color: black;
  text-align: center;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}
.hero5 h1 {
  padding-top: 70px;
  padding-bottom: 10px;
  font-size: 50px;
}

.hero5 p {
  text-align: justify;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  font-size: 20px;
}

.gradiente {
  background: rgb(255, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 127, 0, 1) 16%,
    rgba(255, 255, 0, 1) 32%,
    rgba(0, 255, 0, 1) 48%,
    rgba(0, 0, 255, 1) 64%,
    rgba(75, 0, 130, 1) 80%,
    rgba(148, 0, 211, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#sobremi {
  font-size: 20px;
  margin-top: 20px;
}
.demo a {
  position: absolute;
  bottom: 10px;
  left: 48.5%;
  z-index: 1;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}
.demo a:hover {
  opacity: 0.5;
}

#section10 a {
  padding-top: 60px;
}
#section10 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#section10 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Inter", sans-serif;
}

#contact {
  background: white;
  padding: 25px;
  margin: 50px 0;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

#contact h3 {
  color: rgb(97, 138, 152);
  display: block;
  font-size: 30px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #272727;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}

#contact button[type="submit"]:hover {
  background: black;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}
::-webkit-input-placeholder {
  color: #888;
}
:-moz-placeholder {
  color: #888;
}
::-moz-placeholder {
  color: #888;
}
:-ms-input-placeholder {
  color: #888;
}

@media (max-width: 720px) {
  .nav-menu {
    flex-wrap: wrap;
    float: none;
    position: relative;
    height: 110px;
  }
  .nav-menu a {
    font-size: 15px;
  }
  .barra {
    display: none;
  }
  .hero {
    width: 100%;
  }
  .hero h1 {
    font-size: 40px;
    text-align: center;
  }
  .hero p {
    font-size: 20px;
    text-align: center;
  }
  .hero2 h1 {
    font-size: 40px;
    padding-top: 40px;
  }
  .hero2 p {
    font-size: 20px;
  }
  .hero3 h1 {
    font-size: 40px;
  }
  .hero3 p {
    font-size: 20px;
  }
  .hero4 h1 {
    font-size: 40px;
  }
  .hero4 p {
    font-size: 20px;
  }
  .hero5 h1 {
    font-size: 40px;
  }
  .hero5 p {
    font-size: 20px;
  }
  #upsm {
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 0;
  }
  #TyH {
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 0;
  }
  #p1 {
    text-align: center;
    justify-content: space-between;
    padding: 0;
  }
  .herramientas {
    justify-content: center;
    align-items: center;
  }
  .hero3 h1 {
    margin: auto;
    padding: auto;
    text-align: center;
  }
  #lqp {
    text-align: center;
    align-items: center;
  }
  .sect1 h2 {
    width: auto;
  }
  .tyh {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .demo a {
    left: 42%;
  }
}

